.card {
    opacity: 0;
    color: blue;
    background-color: white;
    padding: 30px 20px;
    font-family: Roboto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    width: 350px;
    min-height: 145px;
    animation: showCard 300ms ease-in-out forwards;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  }
  
  @keyframes showCard {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .left,
  .right {
    text-align: left;
    width: 50%;
  }
  
  .card .info {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .card .info ~ .info {
    margin-top: 20px;
  }
  
  .card .info .title {
    color: #ff8c00;
    margin-bottom: 5px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .card .info .content {
    width: 75%;
  }
  
  .card .info .value {
    color: #104175;
    font-weight: bold;
  }
  
